# Add files here to ignore them from prettier formatting

/dist
/coverage

/apps/iwc-proof/node_modules
/apps/iwc-proof/public
/apps/iwc-proof/.cache

/apps/smartsheet-sitemap/node_modules
/apps/smartsheet-sitemap/public
/apps/smartsheet-sitemap/.cache

/apps/morgan-state-microsite/node_modules
/apps/morgan-state-microsite/public
/apps/morgan-state-microsite/.cache